 <div th:fragment="index_search">
	 
	<!--栏目信息 -->
	<ul class="breadcrumb">
       
	</ul>

	<!-- 搜索框 -->
	<div class="nav-search"  > 
		<form class="form-search"  target="mainFrame"    th:attr="action=${spring_main+'search/search'}" method="post">
			<span class="input-icon">  
				<input type="text"placeholder="Search ..." class="nav-search-input" required="required"  name="keyword" id="nav-search-input" autocomplete="off" />
				<i class="ace-icon fa fa-search nav-search-icon"></i>
			</span>
		</form>
	</div>
	 
	 
</div>
 