<div th:fragment="index_meun">

	<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
	</script>

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="ace-icon fa fa-signal"></i>
			</button>

			<button class="btn btn-info">
				<i class="ace-icon fa fa-pencil"></i>
			</button>

			<button class="btn btn-warning">
				<i class="ace-icon fa fa-users"></i>
			</button>

			<button class="btn btn-danger">
				<i class="ace-icon fa fa-cogs"></i>
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span> <span class="btn btn-info"></span>

			<span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
		</div>
	</div>
	 

 	<!-- 菜单 -->
	<ul class="nav nav-list">

	</ul>
	 

	<!-- 菜单底部缩放 -->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon"
			class="ace-icon fa fa-angle-double-left ace-save-state"
			data-icon1="ace-icon fa fa-angle-double-left"
			data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
	
	<script type="text/javascript">
		
	  //菜单切换功能
	  function loadPage(obj,url) {
		  $("#mainFrame").attr("src",url); //切换子页面
		  var thisObj=$(obj); 
		  //动态生成栏目标题
		  $(".breadcrumb").html('<li class="active"><i class="ace-icon glyphicon glyphicon-th"></i>'+thisObj.text()+'</li> ');
	  }
	</script>
	
</div>

