<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head
	th:replace="common/common_header :: common_header(~{},~{},~{},~{})">


</head>
<body>
	<div class="outer-container-scroll">
		<div class="inner-containerr-scroll">
			<div class="main-container ace-save-state" id="main-container">
				<script type="text/javascript">
					try {
							ace.settings.loadState('main-container')
					} catch (e) {
						
					}
				</script>

				<div class="main-content">
					<div class="main-content-inner">
						<div class="page-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-12">
											<h3 class="header smaller lighter blue">jQuery
												dataTables</h3>

											<div class="clearfix">
												<div class="pull-right tableTools-container"></div>
											</div>
											<div class="table-header">Results for "Latest
												Registered Domains"</div>

											<div>
												<table id="dynamic-table"
													class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th class="center"><label class="pos-rel"> <input
																	type="checkbox" class="ace" /> <span class="lbl"></span>
															</label></th>
															<th>姓名</th>
															<th>性别</th>
															<th class="hidden-480">年龄</th>

															<th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
																电子邮箱</th>
															<th class="hidden-480">状态</th>

															<th></th>
														</tr>
													</thead>
 
													<tbody>
														 <tr th:each="user,stat:${list}" >
															<td class="center"><label class="pos-rel"> <input
																	type="checkbox" class="ace" /> <span class="lbl"></span>
															</label></td>

															<td th:text="${user.user_name}"></td>
															<td th:text="${user.user_sex}"></td>
															<td th:text="${user.user_age}" class="hidden-480"> </td>
															<td th:text="${user.user_email}"></td>
															<td class="hidden-480"><span th:text="${user.user_state}"
																class="label label-sm label-warning"></span></td>

															<td>
																<div class="hidden-sm hidden-xs action-buttons">
																	<a class="blue" href="#"> <i
																		class="ace-icon fa fa-search-plus bigger-130"></i>
																	</a> <a class="green" href="#"> <i
																		class="ace-icon fa fa-pencil bigger-130"></i>
																	</a> <a class="red" href="#"> <i
																		class="ace-icon fa fa-trash-o bigger-130"></i>
																	</a>
																</div>

																<div class="hidden-md hidden-lg">
																	<div class="inline pos-rel">
																		<button
																			class="btn btn-minier btn-yellow dropdown-toggle"
																			data-toggle="dropdown" data-position="auto">
																			<i
																				class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
																		</button>

																		<ul
																			class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																			<li><a href="#" class="tooltip-info"
																				data-rel="tooltip" title="View"> <span
																					class="blue"> <i
																						class="ace-icon fa fa-search-plus bigger-120"></i>
																				</span>
																			</a></li>

																			<li><a href="#" class="tooltip-success"
																				data-rel="tooltip" title="Edit"> <span
																					class="green"> <i
																						class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
																			</a></li>

																			<li><a href="#" class="tooltip-error"
																				data-rel="tooltip" title="Delete"> <span
																					class="red"> <i
																						class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
																			</a></li>
																		</ul>
																	</div>
																</div>
															</td>
														</tr>


													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- basic scripts -->
			<div th:replace="common/common_foot::common_foot(~{::script})">

			<!-- page specific plugin scripts -->
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/jquery.dataTables.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/jquery.dataTables.bootstrap.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/dataTables.buttons.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/buttons.flash.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/buttons.html5.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/buttons.print.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/buttons.colVis.min.js'}"></script>
			<script
				th:src="@{${spring_resource}+'ace-master/assets/js/dataTables.select.min.js'}"></script>

			<!-- 表格js -->
			<script th:src="@{${spring_resource}+'ace-master/common/js/table.js'}"></script>

			</div>
		</div>
	</div>
</body>
</html>
