<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head
	th:replace="common/common_header :: common_header(~{},~{},~{},~{})">

	 
</head>

<body class="no-skin">

	<!-- 引入公共头部页面 -->
	<div th:include="main/common/index_top :: index_top" id="navbar"
		class="navbar navbar-default ace-save-state"></div>


	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
		</script>


		<!-- 引入菜单页面 -->
		<div th:include="main/common/index_meun :: index_meun" id="sidebar" class="sidebar  responsive  ace-save-state"></div>


		<div class="main-content">
			<div class="main-content-inner">


				<!-- 引入菜公共搜索框 -->
				<div th:include="main/common/index_search :: index_search" class="breadcrumbs ace-save-state" id="breadcrumbs"></div>

				<div class="page-content">


					<!-- 引入公用插件 -->
					<div th:include="main/common/index_plugin :: index_plugin" class="ace-settings-container" id="ace-settings-container"></div>

					<div id="page" class="outer-container">
						<iframe src="index_content" id="mainFrame" onload="iFrameHeight()"  scrolling="yes" name="mainFrame"   frameborder="0" marginheight="0" marginwidth="0" height="100%" width="100%"></iframe>
					</div>
					 
					<!-- /.page-header -->

					 
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->




		<!-- 引入公用底部页面 -->
		<div th:include="main/common/index_bottom :: index_bottom"></div>


	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->
	<div th:replace="common/common_foot::common_foot(~{::script})">
 
          <script type="text/javascript">
         
          var spring_main = '[(${spring_main})]';
         
          $(function() {// 初始化内容
  			 
  				loadMenu();
  	   	   }); 
          
          //加载菜单
          function loadMenu(){ 
				$.ajax({
					url: spring_main+"permission/loadMenu",
					async: false,
					success: function(data){
						if(data && data!="" && data!=null){
							alert(data);
						}
					}
				});
			
			}
          
          //iframe自适应高度
          function iFrameHeight() {
        	  var ifm= document.getElementById("mainFrame");
        	  var subWeb = document.frames ? document.frames["mainFrame"].document : ifm.contentDocument;
        	  if(ifm != null && subWeb != null) {
        	  ifm.height = subWeb.body.scrollHeight;
        	  }
        	  }  
 
          </script>
	 
		</div>
</body>
</html>
