<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/common_header :: common_header(~{::title},~{},~{},~{})">
	<title>测试界面</title>
</head>

	<body>
	 <div th:fragment="index_content">

		 
					
					
 	用户姓名：：<shiro:principal property="user_name"/>
	　<shiro:hasPermission name="/blank">用户具有 /blank权限：
　　</shiro:hasPermission>

					
				 

			 
 

</div>
		 
		<!-- basic scripts -->
	    <div th:replace="common/common_foot :: foot"></div>
		 

		 
	</body>
</html>
